@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

nav {
    display: flex;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #B2B5E0;
}