<body>
  <%- include('../partials/_navbar.ejs', { title: 'Sign In' }) %>
  <%- include('../partials/_pageHeader.ejs', { subheader: 'Use Your Gear Wrong, Today!' }) %>
    <% if(typeof(message) !==undefined) { %>
      <p style="color:red;font-style:italic;">
        <%= message %>
      </p>
      <% } %>
    <form action="/auth/sign-in" method="POST">
      <fieldset id="sign-in-fs">
        <legend><em>They Always Come Back</em></legend>
        <div class="sign-in-container">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required placeholder="victimofanoisewall456" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required placeholder="Enter a password" />
        </div>
        <div>
          <button type="submit" id="authButton">Sign In</button>
        </div>
      </fieldset>
    </form>
</body>
</html>