<%- include('./_header.ejs', { title: title }) %>
<nav>
    <% if(user) { %>
        <strong><%= user.username %></strong>
        <a href="/">Home</a>
        <a href="/gear/new">Add Gear</a>
        <a href="/users/me">My Account</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    <% } %>
</nav>