<body>
    <%- include('partials/_navbar.ejs', { title: 'No Guitars No Masters' }) %>
    <%- include('partials/_pageHeader.ejs', { subheader: 'Use Your Gear Wrong, Today!' }) %>
    <div class="indexImg">
        <!-- <img src="" alt="Enthusiastic experimentalist annoying someone within earshot" /> -->
    </div>
    <% if(user) { %>
        <div class="indexBlurbLoggedIn">
            <p>Welcome back <%= user.username %>! Have you been punishing your neighbors lately? Looking for some inspiring new ways to make your pets wish they had earplugs? You're in the right place!</p>
        </div>
        <div class="indexNavBtns">
            <a href="/gear/new"><button>Add Gear</button></a> <a href="/gear/"><button>Gear Index</button></a>
        </div>
     <% } else { %>
        <div class="indexBlurbNoUser">
            <p>Do you long for a world where pedal demos and reviews weren't all done by guitar-collecting dads? Tired of seeing the same hardware techno eurorack explanations? Look no further! Here at NO GUITARS NO MASTERS other people have seemingly beat you to the punch and you can read all about their experimentations so you don't have to do it yourself!
            <br />
            <br />
            If you fancy yourself a big brain experimentalist thinking outside the stompbox (groan) and someone might want to know how to make the same unlistenable sounds without having to think too hard about it you can create an account and show the world how you have singlehandedly reinvented the experimental music wheel!
            </p>
        </div>
        <div class="indexNavBtns">
            <a href="/gear/"><button>Gear Index</button></a>
        </div>
    <% } %>
    
</body>
</html>